<div id="navbar-display">
    <nav class="navbar navbar-findcond navbar-fixed-top">
        <div class="container">
            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"></button>
                <a class="navbar-brand" href="#">ETL Viewer</a>
                
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown" ng-click="setHeightForNavList()">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{serverNameOPSV}}<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" id="dropdown-loeopserver-ul">
                            <li ng-repeat="env in opsv_envs | filter: { ServerType : 'LOEOP'}" ng-click="getFileListForOPSV(env.ip, env.Mnemonic)"><a href="#" onClick="return false;" role="button"><span id="{{env.ip}}" style="display: none;"></span><span>{{env.Mnemonic}} - {{env.ip}}</span></a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{serverName}}<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" id="dropdown-loeopserver-ul">
                            <li ng-repeat="env in envs | filter: { Type: 'LOEOP' }" ng-click="getFileList(env.IP, env.Environment)"><a href="#" onClick="return false;" role="button"><span id="{{env.IP}}" style="display: none;"></span><span>{{env.Environment}}</span></a></li>
                        </ul>
                    </li>

                    <li class="dropdown" ng-style="cssDisplayOnFileName" ng-click="setHeightForNavList()">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{etlFileName}}<span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown-etlfiles" id="dropdown-etlfiles-ul">

                            <li ng-repeat="file in fileList | filter:etlFileNameFilter" ng-click="etlEventsFromMongo(file)"><a href="#" onClick="return false;" role="button"><span style="display: none;"></span><span>{{file}}</span></a></li>

                            <!-- <li ng-repeat="file in fileList | filter:etlFileNameFilter" ng-click="getETLEventlist(ipOnClicked, file, maxEvents, maxFileSize)"><a href="#" onClick="return false;" role="button"><span style="display: none;"></span><span>{{file}}</span></a></li> -->
                        </ul>
                    </li>

                    <li class="dropdown" ng-style="cssDisplayOnFileName">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Config<span class="caret"></span></a>

                        <ul class="dropdown-menu" id="dropdown-etlfiles-ul" style="min-width:300px;padding:15px">
                            <li>
                                <div class="row">
                                    <div class="col-xs-5">
                                        <label>Max Size (mb)</label>
                                    </div>
                                    <div class="col-xs-7">
                                        <input class="form-control" ng-model="maxFileSize" style="text-align:center;font-weight:bold">
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    
                                    <div class="col-xs-5">
                                        <label>Max Events</label>
                                    </div>
                                    <div class="col-xs-7">
                                        <input class="form-control" ng-model="maxEvents" style="text-align:center;font-weight:bold">
                                    </div>
                                </div>

                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>
